<!-- Toolbar -->
<div class="toolbar">
  <!-- TODO: Implement Sign In and connect href-->
  <a mat-button href="" >Sign In</a>
  <!-- TODO: Implement Help Page and connect href  -->
  <a mat-button href="">Help</a>
</div>

<div class="content">

  <div class="mat-display-4 title">Security Trader</div>
  <ul class="option-column">
    <li><button mat-raised-button (click)="createGame()" color="primary">Create Game</button></li>
    <li><button mat-raised-button (click)="joinGame()" color="primary">Join Game</button></li>
  </ul>
</div>


<router-outlet></router-outlet>
