<div class="content">
  <div class="mat-display-4 title t-title">Security Trader</div>
  <ul class="option-column">
    <li>
      <button mat-raised-button class='t-create-game-button'
              routerLink="/game" routerLinkActive="true"
              color="primary">Create Game</button>
    </li>
    <li>
      <button mat-raised-button class='t-join-game-button'
              routerLink="/game" routerLinkActive="true"
              color="primary">Join Game</button>
    </li>
  </ul>
</div>
