<div class="content">
  <div class="mat-display-4 title t-title">Security Trader</div>
  <ul class="option-column">
    <mat-form-field class="t-username-form-field">
      <mat-label>Set Username</mat-label>
      <input matInput placeholder="Username" type="text" [formControl]="username">
    </mat-form-field>
    <li>
      <button mat-raised-button class='t-create-game-button'
              color="primary" (click)="createGame();">Create Game</button>
    </li>
    <li>
      <mat-form-field class="t-game-code-form-field">
        <mat-label>Join Game</mat-label>
        <input matInput placeholder="Game Code" type="text" [formControl]="gameID">
      </mat-form-field>
      <button mat-mini-fab class='t-join-game-button'
              color="primary" (click)="joinGame();">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </li>
  </ul>
</div>
