<div class="chat-container">
  <div class="mat-h3">Chat</div>
  <div class="chat-window" #chatWindow>
    <table class="message-list">
      <tr *ngFor="let item of messageList" #messageList>
        <td>
          [{{this.getTimeFormat(item.timestamp)}}]
        </td>
        <td>
          <span class="message-user">{{item.username}}</span>
          {{item.message}}
        </td>
      </tr>
    </table>
  </div>
  <div class="chat-input-container">
    <mat-form-field class="chat-input">
      <mat-label>Message</mat-label>
      <input matInput [(ngModel)]="currentMessage" (keyup)="handleInput($event)">
      <mat-icon matSuffix class="send-icon" (click)="sendMessage(this.currentMessage)">send</mat-icon>
    </mat-form-field>
  </div>
</div>
